body {
    width: 654px;
    height: 257px;
    margin: 0 auto;
    padding: 0;
    font-family: arial,sans-serif;
}

#main {
    width: 100%;
    display: inline-flex;
    border: 1px gray solid;
    border-radius: 5px;
}

ul {
    list-style-type: none;
    padding: 0 10px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.InitialInputs {
    width: 40%;
    height: 50vh;
    border-right: 1px gray solid;
}

.InitialInputs__tip, .InitialInputs__NumOfPeople {
    display: flex;
    justify-content: center;
}

input {
    /* width: 50px; */
    text-align: center;
}

.DisplayCount {
    width: 60%;
    height: 50vh;
}

.DisplayCount_flexbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: xx-large;
}

#DisplayCount_total {
    font-weight: bold;
}