body {
    font-family: 'Quicksand', sans-serif;
    max-width: 1000px;
    min-width: 300px;
    width: 960px;
    margin: 0 auto;
}

header.sticky { /*fixing border on top*/
    height: 25px;
    position: sticky;
    top: 0px;
    background-color: grey;
}

nav {
    float: right;
}

h3 {
    /* background-color: grey; */
    font-family: 'Quicksand', sans-serif;
    font-weight: 900;
    font-variant: inherit;
}

.description {
    column-count: 2;
    column-gap: 3em;
    column-rule: black solid ;
}

a.button {
    display: inline-block;
    height: 1.5em;
    width: ;
    color: black;
    border: 1px solid;
    border-color: black;
    text-decoration: none; /*убрал подчеркивание для ссылок*/
    margin: 10px;
    padding: 10px;
    border-radius: 2em;
    box-shadow: 2px 2px 2px black;
    cursor: pointer;
    transition: transform 0.5s ease;
    align-items: center;
}

a.button:hover {
    background-color: rgb(51, 153, 255);
    transform: scale(1.2);
}

/*  #mail_me {
    position: fixed;
    bottom: 0;
    right: 0;
} */

footer {
    height: 25px;
}

#Made_By {
    float: right;
}

.zhopka {
    width: 100%;
    display: flex; /*тип группирования элементов*/
    flex-direction: row;
    flex-wrap: wrap; /*перенос элементов при уменьшении размеров страницы*/
    justify-content: space-around; /*выравнивание элементов относительно контейнера*/
    align-content: center; /*выравнивание по горизонтали; выравнивание элементов относительно друг друга и пространства в контейнере*/
    align-items: center; /*выравнивание по вертикали*/
    background-color: grey;
}

.container {
    width:  150px;
    justify-content: center; 
}

/* #overflow {
    height: 200px;
    width: 200px;
    overflow: scroll;
} */


/* GRID */


.grid_container {
    background-color: chartreuse;
    display: grid;
    grid-template-columns: 250px 250px 250px;
    grid-template-rows: 250px;
}